.ReviewForm {
  height: 595px;
  border-radius: 5px;
  color: #19477f;
}
.ReviewSection {
  margin-top: 10%;
  margin-bottom: 10%;
}
.FormTextReview{
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 30px;
letter-spacing: 0em;
text-align:center;

}
.icon{
font-size: 30px;
color: rgb(212, 200, 200);
}