.OfferText1 {
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 45px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(25, 67, 140, 1);
}
.OfferComponent {
  margin-top: 10%;
  margin-bottom: 10%;
}
.Offertext2 {
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 45px;
  letter-spacing: 0em;
  text-align: left;
  background: -webkit-linear-gradient(
    rgba(69, 74, 158, 1),
    rgba(235, 76, 81, 1)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.Offertext3 {
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: left;
}
.SliderTextO3 {
  border: 0.2px solid rgb(221, 217, 217);
  color: rgba(26, 69, 137, 1);
  width: 130px;
  text-decoration: none;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  margin-bottom: 30px;
  margin-left: 0px;
}
.SliderCardOffer {
  height: 90%;
  border-radius: 10px;
  border: 0.7px solid rgba(25, 67, 140, 1);
}
.FestivalTextO3 {
  border: 0.2px solid rgb(221, 217, 217);
  color: rgba(26, 69, 137, 1);
  width: 130px;
  margin: auto;
  text-decoration: none;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  margin-bottom: 30px;
  margin-left: 0px;
}

.FestivalOfferText1 {
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
}
.FestivalOfferText2 {
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
}
.FestivalOfferText3 {
  border-radius: nullpx;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
}
